<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <title>Asistleg X</title>
</head>
<body>
        <header>
            <div className="holder">
                <img src="/images/icono.jpg" width="200" id="logo" alt="AsisteLeg X"/>
                <h1>AsistLeg X</h1>
            </div>        
        </header>


        {{{body}}}

        <footer>
            <p>Diseñado por Gadpen Juan Ignacio -&copy;2022</p>
        </footer>    
</body>
</html>